.contenedor-comisiones {
    position: relative;
    padding: 20px; 
  }
  
  button {
    margin: 10px 0;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
  }
  
  ul {
    margin-top: 20px;
  }

  /* MODAL OVERLAY CENTRADO */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fondo oscurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
  }

  /* CAJA DEL FORMULARIO MODAL */
  .modal {
    background-color: white;
    margin-left: 10%;
    padding: 25px 50px;
    border-radius: 8px;
    width: 1000px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: aparecer 0.3s ease-out;
  }

  @keyframes aparecer {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .modal input {
    width: 100%;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
    box-sizing: border-box;
  }
  
  .formulario-overlay {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border: 1px solid #ccc;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .formulario input {
    padding: 4px;
    width: 80px;
    font-size: 12px;
    border-radius: 5px;
  }
  
  .botones {
    display: flex;
    gap: 10px;
  }

.boton-eliminar {
  width: 22px;
  height: 22px;
  padding: 2px;
  font-size: 14px;

  cursor: pointer;
  line-height: 1;
  text-align: center;
}
  /* Contenedor principal del formulario */
.form-container {
  margin: 20px;
}

/* Contenedor que usa Flexbox para organizar el input y el select horizontalmente */
.input-select-container {
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
  gap: 1rem;           /* Espacio entre el input y el select */
  width: 100%;
}
  
.formulario select {
    padding: 4px;
    font-size: 10px;
  /*  width: 100%;         Ajusta el tamaño del select */
  }

.table-container {
  width: 100%;
  overflow-x: auto;
}

.data-table {
  table-layout: fixed; /* necesario si defines width en columnas */
  width: 100%;
  
}

.column-filter {
  width: 100%; /* Ajusta este valor según lo que necesites */
  padding: 4px;
  font-size: 9.5px;
}
