.contenedorc {
    position: fixed;
  top: 0;
  left: 220px;
  width: calc(100% - 220px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1000;
}
  /* aqui se general el penultimo ca,mbio */
/*  
  .formularioc {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 20%;
    left: 20%;
    right: 20%;
  }
  */

  .formulariocustomer {
   background-color: #fffafa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
  }

  .formulario-rectangulo {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.formulario-rectangulo-flotante {
    position: sticky;
    top: 0; /* se pega arriba dentro de .contenedorc */
    background-color:  #efefef;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* ligeramente mayor que .contenedorc */
    width: 40%;
    margin-bottom: 30px;
}

.formulario-rectangulo-flotante label {
    font-size: 16px;
    padding: 5px;
}

/*
  .input-select-container-customer {
    display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 20px;
  width: 100%;
  }
  */
  .input-select-container-customer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas iguales */
  gap: 1rem;
}

  .campo-formulariocustomer {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

  .campo-formulariocustomer label {
    margin-left: 4px;
    font-weight: bold;
    font-size: 12px;
  }

  .campo-formulariocustomer input,
  .campo-formulariocustomer select {
  /* background-color: #e2dede; */
  height: 30px;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 200px;
}

  .formulariocustomer input {
    margin-bottom: 1rem;
    background-color: #e2dede;
    width: 200px;
    height: 30px
  }

  .campo-formulariocustomer select {
    width: 200px;
    height: 30px ;
    /* background-color: #e2dede;*/
    font-size: 12px;
    border-radius: 5px;
  }

  
  
.headerLayoutSup-Customers {
  position: relative;
  top: 0px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color:white;
  padding: 10px 10px;
  justify-content: flex-start;
  border-bottom: 2px solid #ddd;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.headerLayoutSup-Customers h2 {
  font-size: 20px;
  margin-top: 10px;
}

.button-group {
  display: flex;
  gap: 10px; /* Espacio entre botones */
}
.headerLayoutSup-Customers button {
  cursor: pointer; 
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  height: 40px;
}


  /*
  .formulariocustomer input {
    padding: 2px;
    width: 150px !important;
    height: 28px;
    background-color: #e2dede;
    font-size: 12px;
    border-radius: 5px;
  }


  .campo-formulariocustomer label,
  .campo-formulariocustomer select {
  margin-top: 1px;
  margin-bottom: 1rem;
}

*/
  


  /*
  .formrequest {

    background-color: rgba(243, 241, 241, 0.667);
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
  }

    .campo-formrequest label {
    padding: 2px;
    margin-left: 4px; 
    font-weight: bold;
    font-size: 14px;
  }

    .formrequest input {
    height: 28px;
    background-color: #e2dede;
    font-size: 12px;
    border-radius: 5px;
  }

  */